{% extends 'photos/base.html' %}


{% block title %}Gallery{% endblock title %}
{% block body %}


<div class="center_main_gallery">
    <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/bf/82/f6/bf82f6956a32819af48c2572243e8286.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Category: Pets</p>

        </div>

        <a href="/photo/1" class="btn btn-outline-dark btn-sm mx-2 my-2">View</a>

    </div>




</div>




{% endblock body %}