{% extends 'photos/base.html' %}


{% block title %}Gallery{% endblock title %}
{% block body %}


<div class="center_main_gallery">
    {% for photo in photos%}

    <div class="card" style="width: 18rem;">
        <img src="{{photo.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{photo.desc}}</h5>
            <p class="card-text">Category: {{photo.category}}</p>

        </div>

        <a href="/photo/{{photo.id}}" class="btn btn-outline-dark btn-sm mx-2 my-2">View</a>

    </div>
    {% empty %}
    <h3>No photos</h3>

    {% endfor %}



</div>




{% endblock body %}