{% extends 'photos/base.html' %}


{% block title %}Photos{% endblock title %}
{% block body %}



<div class="center_main_photos">


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img id="photo_view" src="{{photo.image.url}}" class="d-block w-100" alt="...">
            </div>

        </div>
    </div>



    <p id="desc">
        {{photo.desc}}

    </p>





</div>




{% endblock body %}